%p
  - if Game.maximum(:resolution_time)
    %b 
      Last game uploaded was on 
      = Game.maximum(:resolution_time).to_s(:long)
%p
  Any games or players that already exist in the DB in the uploaded files will be ignored.
%p
  It can take a long time to process the uploaded data.

%p
  Select player dump files :
  = link_to "Add Players", add_players_uploaders_path

%p
  Select game dump files :
  = link_to "Add Games", add_games_uploaders_path
