<p>Start date considered:2017-04-24<br />
End date considered:2017-04-30<br />
Min games considered:70<br />
Min avg score considered:1500<br />
elo+activity based scores: 
</p>
  <body>

    <table>
      <thead>
        <tr>
          <th>player</th>
          <th>total score</th>
          <th>strength score</th>
          <th>activity score</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ritter runkel</td>
          <td>343</td>
          <td>220</td>
          <td>123</td> 
        </tr>
        <tr>
          <td>mrchris</td>
          <td>336</td>
          <td>177</td>
          <td>159</td> 
        </tr>
        <tr>
          <td>pew</td>
          <td>184</td>
          <td>51</td>
          <td>133</td> 
        </tr>
        <tr>
          <td>pier4r nvidia k1</td>
          <td>147</td>
          <td>81</td>
          <td>66</td> 
        </tr>
        <tr>
          <td>mcompany</td>
          <td>108</td>
          <td>56</td>
          <td>52</td> 
        </tr>
        <tr>
          <td>Milkhunter</td>
          <td>103</td>
          <td>34</td>
          <td>69</td> 
        </tr>
        <tr>
          <td>Nanth</td>
          <td>103</td>
          <td>29</td>
          <td>74</td> 
        </tr>
        <tr>
          <td>Ox1de</td>
          <td>85</td>
          <td>22</td>
          <td>63</td> 
        </tr>
        <tr>
          <td>JeyKey</td>
          <td>71</td>
          <td>26</td>
          <td>45</td> 
        </tr>
        <tr>
          <td>Aharon</td>
          <td>37</td>
          <td>-104</td>
          <td>141</td> 
        </tr>
        <tr>
          <td>sollniss</td>
          <td>-4</td>
          <td>-60</td>
          <td>56</td> 
        </tr>
        <tr>
          <td>Kanishka_RN3</td>
          <td>-6</td>
          <td>-87</td>
          <td>81</td> 
        </tr>
        <tr>
          <td>tinnvec</td>
          <td>-18</td>
          <td>-60</td>
          <td>42</td> 
        </tr>
        <tr>
          <td>aaal</td>
          <td>-21</td>
          <td>-131</td>
          <td>110</td> 
        </tr>
        <tr>
          <td>IRRbertPC</td>
          <td>-35</td>
          <td>-73</td>
          <td>38</td> 
        </tr>
        <tr>
          <td>General Quarters</td>
          <td>-85</td>
          <td>-181</td>
          <td>96</td> 
        </tr>
      </tbody>
    </table>
   
