.row{style: "margin-top: 30px;"}
  .col.hidden-sm-down &nbsp;
  .col.col-sm-12.col-md-8
    %p{style: "margin-top: 10px;"}
      Search for any player
      or view the stats for any of the top 50 players:
    %p
      - @top_players.each do |player|
        #{link_to player.name, "/#{player.name}"}#{raw(",&nbsp;") unless player == @top_players.last}
  .col.hidden-sm-down &nbsp;
