- content_for :sidebar do
  = render "player_search", form: @form

= render "tabs"
- if @player_charts
  = render "fetch_button", player_name: @form.player.name
  = render "games", games: @player_charts.all_games, main_player_id: @form.player.id
