- content_for :sidebar do
  = render "player_search", form: @form
= render "fetch_button", player: @form.player if @player_charts
= render "tabs"
= render "player_charts", form: @form, player_charts: @player_charts if @player_charts
